*
!Dockerfile
!Dockerfile.proxy
!ci/
!ci/caddy/
!ci/caddy/**
!requirements.txt
!web-requirements.txt
!*.py
!monitoring.json
!alembic.ini
!rds-ca.pem
!migrations/
!migrations/**
!templates/
!templates/**
!static/
!static/**
!prompts/
!prompts/**
